main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    & h1 {
        font-family: "Nuku Nuku";
        font-size: 3vw;
        color: var(--nipponRed);
        margin-bottom: 1.5vw;
    }
    
    & p {
        font-size: 1.2vw;
    }
    
    & img {
        width: 30%;
        margin: 2vw;
        height: fit-content;
        object-fit: cover;
        cursor: pointer;
    }
}