footer {
    width: 100%;
    bottom: 0;
    padding: 5rem 10rem;
    background-color: var(--nipponRed);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    color: white;

    & section {
        display: flex;
        flex-direction: column;
        width: 20rem;
    }

    & h3 {
        font-family: "Nuku Nuku";
        margin-bottom: 1.5rem;
    }
}

.f-tekst {
    align-self: center;
}

.f-nippon { 
    grid-area: 1 / 1 / 2 / 2; 
    height: 20rem;
}

.f-politik { 
    grid-area: 1 / 2 / 2 / 3; 
    height: 20rem;

}

.f-logo { 
    grid-area: 1 / 3 / 3 / 4; 
    width: 20rem;
    height: min-content;

    & img {
        width: 100%;
    }
}

.f-find { 
    grid-area: 1 / 4 / 2 / 5; 
    width: 20rem;
    height: 10rem;

}

.f-some { 
    grid-area: 1 / 5 / 2 / 6;
    width: 20rem;
    height: 10rem;
    
    & .socials {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        border: blue 1px solid;

        & img {
            border: blue 1px solid;
            max-height: 50%;
        }
    }

}

.f-app { 
    align-self: end;
    grid-area: 1 / 4 / 2 / 6; 
    width: 40rem;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & .qr {
        height: 100%;
    }

    & .app-store {
        height: 100%;
        display: flex;
        flex-direction: column;

        & img {
            height: 40%;
            margin: 0.5rem;
        }
    }
}
