footer {
    width: 100vw;
    max-width: 99.25dvw;
    bottom: 0;
    padding: 5rem 0;
    background-color: var(--nipponRed);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    color: white;
    overflow-x: hidden;

    & section {
        display: flex;
        flex-direction: column;
        width: 20dvw;
        max-height: 16.5rem;
        overflow-x: hidden;
    }

    & h3 {
        font-family: "Nuku Nuku";
        margin-bottom: 0.5rem;
    }

    & p { 
        cursor: pointer; 
    }
}

.f-tekst {
    align-self: center;
}

.f-nippon { 
    grid-area: 1 / 1 / 3 / 2; 
    display: flex;
    align-items: center;
}

.f-politik { 
    grid-area: 1 / 2 / 3 / 3; 
    display: flex;
    align-items: center;
}

.f-logo { 
    grid-area: 1 / 3 / 3 / 4; 
    display: block;
    padding: 0rem 1.35rem;

    & img {
        width: 100%;
    }
}

.f-find { 
    grid-area: 1 / 4 / 2 / 5; 
    display: flex;
    align-items: center;
    max-height: calc(16.5rem/2);

    & p {
        cursor: default;
    }
}

.f-some { 
    grid-area: 1 / 5 / 2 / 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: calc(16.5rem/2);  
    overflow-x: hidden;

    & .f-tekst {
        min-height: fit-content;
    }
    
    & .f-icons {
        height: auto;
        width: 30%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-x: hidden;
        
        & img {
            cursor: pointer;
            height: 50%;
            width: 50%;
            max-height: auto;
        }
    }
}
    

.f-qr { 
    grid-area: 2 / 4 / 3 / 5; 
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: calc(16.5rem/2);

    & img {
        width: auto;
        height: auto;
        border-radius: 0.1vw;
        overflow-x: hidden;
    }
}

.f-app { 
    grid-area: 2 / 5 / 3 / 6; 
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: calc(16.5rem/2);
    overflow-x: hidden;

    & img {
        cursor: pointer;
        width: auto;
        margin: 0.25rem;
        overflow-x: hidden;
    }
}
