.top-banner {
    width: 100%;
    padding: 2rem 2rem;

    & img {
        width: 100%;
    }
}

.mid-section {
    background-color: rgb(227, 219, 219);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: min-content;

    & article {
        width: 50%;
        padding: 2rem 10rem 2rem 2.5rem;
        line-height: 2.5;
    }

    & img {
        width: 50%;
    }
}

.bot-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: min-content;
    margin: 2rem 0;

    & article {
        display: flex;
        flex-direction: column;
        width: 33%;
        padding: 2rem 2.5rem 2rem 2.5rem;
        align-items: center;
    }

    & img {
        border-radius: 2rem;
        width: 50%;
        margin-bottom: 1rem;
    }
}
