#myBtn {
  display: none; /* Skjult som standard */
  position: fixed; /* Fast/klæbrig position */
  bottom: 20px; /* Placer knappen i bunden af siden */
  right: 30px; /* Placer knappen 30px fra højre */
  z-index: 99; /* Sørg for, at den ikke overlapper */
  border: none; /* Fjern kanter */
  outline: none; /* Fjern omrids */
  background-color: #1c3563; /* Angiv en baggrundsfarve */
  color: white; /* Tekstfarve */
  cursor: pointer; /* Skift til musemarkør ved hover */
  padding: 15px; /* Tilføj noget polstring */
  border-radius: 10px; /* Afrundede hjørner */
  font-size: 18px; /* Forøg skriftstørrelse */
}

#myBtn:hover {
  background-color: #0a1936; /* Tilføj en mørkegrå baggrund ved hover */
}