header {
  background-color: var(--nipponBlue);
}

.dropwdown {
  background-color: var(--nipponBlue);
}

.sign-in {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}

h1  {
  margin-top: 0rem;
  font-size: 3rem;
}

.firkanter {
display: flex;
}

.firkanter div {
width: 3rem;
height: 3rem;
border: solid 3px var(--nipponBlue);
position: relative;
margin: 2rem 5rem 0 5rem;
}

#firkant-et {
background-color: rgba(74, 74, 124, 0.8);
border: solid 3px var(--nipponBlue);
}
#firkant-to {
background-color: rgba(74, 74, 124, 0.8);
border: solid 3px var(--nipponBlue);
}
#firkant-tre {
background-color: rgba(74, 74, 124, 0.8);
border: solid 3px var(--nipponBlue);
}

.firkanter div::after {
content: '';
position: absolute;
top: 50%;
right: -10.2rem;
width: 10.1rem;
height: 3px;
background-color: var(--nipponBlue);
}
.firkanter div:last-child::after {
display: none;
}

.sign-in-person{
width: 50%;
height: auto;
}

.felter {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 1.5rem;
}
.felter-to {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 1.5rem;
}

.felter .row .felter-to{
display: flex;
flex-direction: column;
}

.felter label, .felter-to label {
display: flex;
gap: 0.5rem;
font-size: 1.3rem;
padding: 0.5rem;
width: 100%;
border: solid 3px var(--nipponBlue);
color: var(--nipponBlue);
}

.felter input, .felter textarea {
width: 100%;
border: solid 3px var(--nipponBlue);
color: var(--nipponBlue);
padding: 0.5rem;
font-size: 1.3rem;
}

.felter-to input, .felter-to textarea {
margin-top: 5rem;
width: 100%;
border: solid 3px var(--nipponBlue);
color: var(--nipponBlue);
padding: 0.5rem;
font-size: 1rem;
}

.felter input[type="checkbox"] {
width: 1rem;
height: 1rem;
accent-color: white;
}

.felter select {
width: 100%;
border: solid 3px var(--nipponBlue);
color: var(--nipponBlue);
padding: 0.5rem;
font-size: 1.3rem;
margin-top: 5rem;
margin-bottom: 5rem;
}

.button-container {
display: flex;
justify-content: center;
margin-top: 1rem;
}

button{
display: flex;
justify-content: center;
margin-top: 1rem;
gap: 0.5rem;
font-size: 1.3rem;
padding: 0.5rem;
width: 100%;
background-color: var(--nipponBlue);
color: white;
}

.next-step {
display: flex;
margin-top: 2rem;
background-color: var(--nipponBlue);
color: white;
padding: 0.5rem;
font-size: 1.3rem;
}

.done {
height: 95vh;
margin-top: 15vw;
display: flex;
justify-content: center;
align-items: center;
}

.done h1 {
display: flex;
align-items: center;
justify-content: center;
font-size: 3rem;
}

.done p {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
margin: 4rem 30vw 0 30vw;
font-size: 1.5rem;
}

footer {
background-color: var(--nipponBlue);
}