* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --nipponRed: #BC002D;
    --nipponBlue: #023455;
    --nipponBlack: #1E1E1E;
}

/* Logo font-family: electroharmonix; */
@font-face {
    font-family: 'Nuku Nuku';
    src: url('../fonts/nuku1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'n';
    src: url('../fonts/nuku1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    min-width: 100dvw;
    min-height: 100dvh;
}

H1 {
    font-family: "Nuku Nuku";
}