:root {
    --nipponRed: #BC002D;
    --nipponBlue: #1C3563;
    --nipponBlack: #1E1E1E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Logo font-family: electroharmonix; */
@font-face {
    font-family: 'Nuku Nuku';
    src: url('../fonts/nuku1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'electroharmonix';
    src: url('../fonts/electroharmonix.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    max-width: 100dvw;
    width: auto;
    min-height: 100dvh;
    font-family: Verdana, Tahoma, sans-serif;
}

H1 {
    font-family: "Nuku Nuku";
}
